body {
  font-family: sans-serif;
}

img {
  height: 500px;
}

.card{
  background-color: lightblue;
  width: 300px;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

a.no-style{
  text-decoration: none;
  color: black;
}