body {
  font-family: sans-serif;
}

img {
  height: 25em;
  margin: auto;
  display: block;
}

header {
  text-align: center;
}

a.no-style{
  text-decoration: none;
  color: black;
}

/* .external-link{
  position: fixed;
  top: 0;
  left: 50%;
} */
/* sjjdjj */

.card {
  display: block;               /* Make the entire card clickable */
  background: #e6fbff;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 10px;
  padding: 16px;
  margin: 12px 0;
  text-decoration: none;
  color: inherit;
}