:root {
  --accent1: #b2f7c5;
  --accent2: #8de4aa;
  --font: #003e1f;
}

body {
  font-family: sans-serif;
  background-color: #f2fff3;
  color: var(--font);
}

/* nav styles */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

nav a {
  text-decoration: none;
  padding: 10px 16px;
  background-color: var(--accent1);
  border-style: inset;
  color: inherit;
  font-weight: bold;
}

nav a:hover {
  background-color: var(--accent2);
  border-style: outset;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0;
}

img {
  height: 25em;
  margin: auto;
  display: block;
}

main a:hover{
  border-style: outset;
  background-color: var(--accent2);
}

main {
  max-width: 800px;
  margin: 40px auto;
}

main p {
  font-size: 1.1em;
  line-height: 1.35;
  text-align: justify;
  /* margin-top: 20px; */
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: block; /* makes entire clickable */

  width: 300px;
  padding: 16px;
  margin: 12px 0;

  color: inherit;
  text-decoration: none;
  text-align: center;

  border-style: inset;

  background-color: var(--accent1);
}

.card p {
  text-align: center;
}

.external-link a{
  color: inherit;
}